{% extends "templates/_default.twig" %}

{% block content %}
    <form action="{{ url_for("auth.login") }}" method="POST">
        <label for="email">E-mail address</label>
        <input type="text" name="email" id="email" placeholder="E-mail address">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
{% endblock %}