{% extends "templates/_default.twig" %}

{% block content %}
    {% if flash.getMessage("errors") %}
        <p><b>Errors</b></p>
        <ul class="error-list">
            {% for key, message in flash.getMessage("errors").0 %}
                <li class="error-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{{ url_for("auth.register") }}" method="POST">
        <label for="email">E-mail address</label>
        <input type="text" name="email" id="email" placeholder="Enter your e-mail address">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password">

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your password">

        {% if config("plugins.turnstile.enabled") and route_requires_captcha(routeName) %}
            <div class="cf-turnstile" data-sitekey="{{ config("plugins.turnstile.public") }}" data-theme="light"></div>
        {% endif %}

        {{ csrf()|raw }}

        <button type="submit">Register</button>
    </form>
{% endblock %}

{% block scripts %}
    {% if config("plugins.turnstile.enabled") and route_requires_captcha(routeName) %}
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    {% endif %}
{% endblock %}