<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config("app.name") }}</title>
    <style>
        .button {
            padding: 1px 6px;
            border: 1px outset buttonborder;
            border-radius: 3px;
            color: buttontext;
            background-color: buttonface;
            text-decoration: none;
        }

        .alert {
            margin-bottom: 2em;
        }

        .alert-error {
            color: red;
        }

        .alert-success {
            color: green;
        }

        .alert-warning {
            color: darkorange;
        }

        .alert-info {
            color: mediumaquamarine;
        }

        .error-list {
            margin-bottom: 2em;
        }

        .error-message {
            color: darkred;
        }
    </style>
</head>
<body>
    <h1>{{ config("app.name") }}</h1>
    {% include "templates/partials/_nav.twig" %}
    <hr>
    <h1>{{ pagename }}</h1>
    {% include "templates/partials/_alerts.twig" %}

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>