<a class="button" href="{{ url_for("home") }}">Home</a>
{% if not auth.check %}
    <a href="{{ url_for("auth.login") }}" class="button">Login</a>
    <a href="{{ url_for("auth.register") }}" class="button">Register</a>
{% else %}
    <a class="button" href="{{ url_for("auth.logout") }}">Logout</a>
{% endif %}